.app-header {
    padding: 1em;
    width: 100%;
    align-items: center;
    z-index: 1;
    height: fit-content;
    transition: all 0.3s;

    &.day-mode {
        background: rgba(244, 232, 193, 0.1);
    }

    &.night-mode {
        background: rgba(15, 15, 15, 0.1);
    }

    .header-contents {
        align-items: center;
        user-select: none;
        justify-content: space-between;
        width: 100%;
        transition: all 0.3s;

        .title {
            gap: 0.5em;

            img {
                width: 3em;
                height: 3em;
                object-fit: cover;
            }

            h1 {
                font-size: 2em;
                letter-spacing: 0.05em;
            }
        }

        &.day-mode {
            color: $clrSecondary5;
            text-shadow: 0.05em 0.05em $clrPrimary3;
        }

        &.night-mode {
            color: $clrSecondary7;
            text-shadow: 0.05em 0.05em $clrPrimary3;
        }

        button {
            width: 3.5em;
            height: 3.5em;
            display: flex;
            align-self: center;
            align-items: center;
            justify-content: center;
            background: $clrSecondary8;
            border-radius: 50%;
            transition: all 0.3s;

            &:hover {
                background: $clrSecondary4;
            }

            img {
                object-fit: cover;
                width: 3.25em;
                height: 3.25em;
            }

            &:first-child {
                img {
                    width: 2em;
                    height: 2em;
                }
            }
        }
    }
}