.app-header {
    padding: 1em;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background: rgba(244, 232, 193, 0.15);

    .header-contents {
        gap: 0.5em;
        align-items: center;
    }

    img {
        width: 3em;
        height: 3em;
        object-fit: cover;
    }

    h1 {
        font-size: 2em;
        color: $clrSecondary2;
        text-shadow: 0.05em 0.05em $clrPrimary3;
    }
}