.minesweeper-board {
    width: fit-content;
    height: fit-content;
    margin: 2em auto;
    border: 6px solid $clrSecondary4;
    border-radius: 0.25em;

    .board-row {
        .board-cell {
            background: rgb(194, 166, 121, 0.5);
            border: 1px solid $clrSecondary3;
            justify-content: center;
            align-items: center;
            font-family: 'cairo-bold';
            user-select: none;
            cursor: default;

            &.beginner,
            &.medium {
                width: 64px;
                height: 64px;
                font-size: 2em;

                img {
                    width: 48px;
                    height: 48px;
                }
            }

            &.expert {
                width: 48px;
                height: 48px;
                font-size: 1.5em;

                img {
                    width: 32px;
                    height: 32px;
                }
            }

            &.unrevealed {
                background: $clrSecondary6;
                cursor: pointer;
            }

            &.flagged {
                background: $clrSecondary5;
                background-image: url('https://res.cloudinary.com/digrqdbso/image/upload/v1702901937/MummySweeper/n84jnuihmaoyulzwb53k.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            &.mined {
                background: $clrSecondary7;
            }
        }
    }
}