.game-wrapper {
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin: 1em auto;
    height: fit-content;
    width: 100%;
    user-select: none;

    .control-panel {
        width: 262px;
        height: fit-content;
        gap: 0.5em;
        background: $clrSecondary1;
        border-radius: 0.25em;
        padding: 0.25em 0.5em;
        border: 3px solid $clrSecondary4;

        .game-options {
            grid-template-columns: repeat(2, 1fr);
            gap: 0.25em;

            .select-area {
                padding: 0.25em;
                align-items: center;

                p {
                    color: $clrPrimary3;
                    font-family: 'cairo-bold';
                }

                select {
                    width: 85%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .game-displays {
            grid-template-columns: repeat(3, 1fr);

            .amount-display {
                gap: 0.5em;
                padding: 0.25em;
                align-items: center;

                button,
                img {
                    width: 32px;
                    height: 32px;
                }

                button {
                    border-radius: 50%;
                    border: 2px solid $clrSecondary8;
                    transition: all 0.3s;

                    &:hover {
                        background: $clrSecondary5;
                        border-color: $clrSecondary3;
                    }
                }

                span {
                    background: $clrPrimary1;
                    padding: 0.25em;
                    border-radius: 0.5em;
                    min-width: 48px;
                    text-align: center;
                }
            }
        }
    }

    .minesweeper-board {
        width: fit-content;
        height: fit-content;
        margin: 0 auto;
        border: 3px solid $clrSecondary4;
        border-radius: 0.25em;
        background-image: url('https://res.cloudinary.com/digrqdbso/image/upload/v1702826392/MummySweeper/ltnoi7y5dhmiydqdpqiw.avif');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .board-row {
            &:nth-child(odd) {
                .board-cell {
                    &:nth-child(odd) {
                        &.unrevealed {
                            background: $clrSecondary6;
                        }
                    }

                    &:nth-child(even) {
                        &.unrevealed {
                            background: $clrSecondary2;
                        }
                    }
                }
            }

            &:nth-child(even) {
                .board-cell {
                    &:nth-child(odd) {
                        &.unrevealed {
                            background: $clrSecondary2;
                        }
                    }

                    &:nth-child(even) {
                        &.unrevealed {
                            background: $clrSecondary6;
                        }
                    }
                }
            }

            .board-cell {
                background: rgb(194, 166, 121, 0.5);
                border: 1px solid $clrSecondary3;
                justify-content: center;
                align-items: center;
                font-family: 'cairo-bold';
                cursor: default;

                &.beginner,
                &.easy,
                &.medium {
                    width: 64px;
                    height: 64px;
                    font-size: 2em;

                    img {
                        width: 48px;
                        height: 48px;
                    }
                }

                &.hard,
                &.expert {
                    width: 48px;
                    height: 48px;
                    font-size: 1.5em;

                    img {
                        width: 32px;
                        height: 32px;
                    }
                }

                &.unrevealed {
                    cursor: pointer;
                }

                &.flagged {
                    background: $clrSecondary5;
                    background-image: url('https://res.cloudinary.com/digrqdbso/image/upload/v1702999341/MummySweeper/kgsa9k7vrozxuqazlb1p.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                }

                &.mined {
                    background: $clrSecondary7;
                }

                &.safe-click {
                    background: $clrSecondary10;
                    background-image: url('https://res.cloudinary.com/digrqdbso/image/upload/v1703272367/MummySweeper/cuu3msv03iqsd1bev5yx.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }
}