$clrPrimary1: #f4e8c1;
$clrPrimary2: #d4c28d;
$clrPrimary3: #272726;

$clrSecondary1: #c2a679;
$clrSecondary2: #d68c45;
$clrSecondary3: #5a4b32;
$clrSecondary4: #2660a4;
$clrSecondary5: #3c6e71;
$clrSecondary6: #ffa24a;
$clrSecondary7: #a71b1b;
$clrSecondary8: #f5c117;
$clrSecondary9: #640b0b;
$clrSecondary10: #1c7c3c;
$clrSecondary11: #073816;