* {
    box-sizing: border-box;
}

html {
    line-height: 1.6;
    font-family: cairo-regular;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    background-image: linear-gradient(to bottom,
            #87CEEB 0%,
            #e4d2a2 40%,
            #1a4d8f 70%,
            #228B22 100%);

    #app {
        width: 100%;
        height: 100%;
    }
}

img {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    border: 0;
    cursor: pointer;
    font-family: cairo-bold;
}

select {
    cursor: pointer;
}

.modal-wrapper {
    align-items: center;
    background-color: rgba(0, 0, 0, .75);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}