.main-container {
    width: 100%;
    height: 100%;
    display: grid;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    &.day-mode {
        background-image: url('https://res.cloudinary.com/digrqdbso/image/upload/v1702826630/MummySweeper/qhjema1fatvmuyl2yga3.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &.night-mode {
        background-image: url('https://res.cloudinary.com/digrqdbso/image/upload/v1702826630/MummySweeper/pxqoupmrludxk1uytnp4.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    @media (max-width: 480px) {
        grid-template-columns: 16px 1fr 16px;
    }

    @media (min-width: 481px) {
        grid-template-columns: 32px 1fr 32px;
    }
}

.layout-row {
    margin: auto;
    max-width: 1400px;
}