@font-face {
    font-family: 'cairo-regular';
    src: url("src/assets/fonts/Cairo-Regular.ttf");
}
@font-face {
    font-family: 'cairo-bold';
    src: url("src/assets/fonts/Cairo-bold.ttf");
}